.badges {
  width: 296px;
  height: 204px;
}

.heading {
  font-size: 32px;
  font-weight: 600;
  color: #2c3e50;
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  font-family: Roboto;
}

.heading::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 90%;
  height: 3px;
  background: linear-gradient(to right, #007bff, #ff5722);
  transform: translateX(-50%);
  border-radius: 5px;
}
.poster {
  height: 375px;
}
.Badges span {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 1px;
  padding: 4px 8px;
  border-radius: 3px;
}

.poster img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.poster_logo {
  width: 64px;
  height: 30px;
  padding: 3px;
  background: #ffffffe5;
}

.poster_rent {
  width: 112px;
  height: 30px;
  text-align: center;
  align-content: center;
  background-color: var(--Other-Navy-Blue, #1b346f);
  font-family: Roboto;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0%;
  color: var(--Other-White, #ffffff);
}

.card_body {
  height: 150px;
  padding-top: 24px;
  padding-right: 10px;
  padding-bottom: 24px;
  padding-left: 10px;
  gap: 24px;
}

.property_name h5 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000000;
}

.property_name p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--Gray-Gray-500-TW, #6b7280);
}
.poster_info {
  height: 59px;
  padding: 0px;
  margin-top: 15px;
  justify-content: space-between;
}

.poster_info p {
  width: 75px;
  height: 22px;
  gap: 2px;
  border-radius: 2px;
  padding: 0px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--Gray-Gray-600-TW, #4a5565);
}
.poster_info img {
  width: 16px;
  height: 16px;
  padding: 2px;
}

.poster_date {
  display: flex;
  flex-wrap: wrap;
  width: 296px;
  height: 30px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-width: 1px;
  background-color: #f7f7f7;
  border-top: 2px solid #9ca3af;
  align-items: center;
  padding: 0px;
}
.poster_time {
  width: 91px;
  height: 20px;
  padding-left: 10px;
  align-content: center;
}
.poster_time img {
  width: 16px;
  height: 16px;
}
.poster_time p {
  font-family: Roboto;
  font-weight: 500;
  font-size: 11px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #4a5565;
}
.poster_box {
  position: sticky;
  left: 221px;
  width: 36px;
  height: 28px;
  border: 1px solid var(--Gray-Gray-400-Tw, #9ca3af);
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f8f9fa;
  border-top: 2px solid #bbb8b8;
  border-radius: 10px;
  height: 28px;
  padding: 5px 0px;
}
.footer-text {
  display: flex;
  align-items: center;
  color: #6c757d;
  font-family: Roboto;
  font-weight: 600;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
}
.footer-text img {
  width: 23px;
  height: 22px;
  left: 6px;
  padding: 2px;
}
.footer-icons {
  height: 28px;
  align-content: center;
}
.footer-icons img {
  width: 36px;
  height: 20px;
  padding: 0px 7px;
  color: var(--Gray-Gray-600-TW, #4a5565);
}
.icons_box {
  border-left: 1px solid #4a5565;
}
.footer-icons i:hover {
  color: #007bff;
}
